/********************

RESETS

********************/
* {
  font-family: sans-serif;
}

body, html, main {
  margin: 0;
}

/********************

Navigation

********************/

nav {
  margin: 0;
  height: 50px;
  width: 100%;
  background: #3498db;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.brand a {
  margin: 0;
  color: white;
  font-weight: 300;
  align-self: center;
  text-decoration: none;
}


/********************

MAIN CONTENT / CONTAINERS / SETTING BUTTONS

********************/


.about {
  text-align: center;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}

@keyframes tweetNumber {

  0% {
    font-size: 4.0rem;
  }

  50% {
    font-size: 3.7rem
  }

  100% {
    font-size: 1.4rem;
  }

}

.tweet-number {
  color: #2c3e50;
  font-size: 1.4rem;
  background: #ecf0f1;
  padding: .2rem;
  animation-name: tweetNumber;
  animation-duration: .7s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}


main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
}

.top-bar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  text-align: center;
  width: 100%;
  height: 30px;
  background: #2980b9;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-bar h2 {
  font-weight: 200;
  font-size: 1rem;
}


.layout-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: white;
  border: solid 1px black;
  padding: .3rem .8rem;
  border-radius: 12px;
  transition: all 250ms;
  cursor: pointer;
}

.layout-btn:hover {
  color: #2980b9;
  border-color: #2980b9;
}

.layout-btn-2 {
  z-index: 10;
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: white;
  border: solid 1px black;
  padding: .3rem .8rem;
  border-radius: 12px;
  cursor: pointer;
  transition: all 250ms;
}

.layout-btn-2:hover {
  color: #2980b9;
  border-color: #2980b9;
}

/********************

KEY SECTION

********************/


.key {
  width: 20%;
  height: 20rem;
  background: white;
  border: solid 1rem #ecf0f1;
}

.key p {
  padding-left: 1rem;
}

small {
  font-size: .3rem;
}

.key-container {
  position: relative;
  width: 80%;
  height: 80%;
}

/********************

TWEETS

********************/


.tweet-columns {
  position: relative;
  width: 75%;
  background: #ecf0f1;
  border-radius: 8px;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.tweet-columns.horizontal {
  height: 50rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.tweet-column {
  position: relative;
  background: rgba(236, 240, 241,.3);
  width: 28%;
  height: 80%;
  box-shadow: 0px 1px 1px rgba(0,0,0,.3);
  overflow-y: scroll;
}

.tweet-column.horizontal {
  width: 80%;
  height: 18rem;
  margin-top: 2rem;
}

.tweet-column.grabbed {
  transform: rotate(5deg) scale(1.02);
  box-shadow: 1px 1px 3px rgba(0,0,0,.4);
}


.tweets {
  padding: 0;
  margin: 0;
}

.tweet {
  padding: .5rem;
  margin-bottom: .5rem;
  background: white;
}

.tweet-username {
  display: inline-block;
}

.tweet-username a {
  display: inline-block;
  font-weight: 600;
  color: black;
  text-decoration: none;
  transition: all 100ms;
}

.tweet-username a:hover {
  color: rgba(52, 152, 219,1.0);
  text-decoration: underline;
}

.tweet-date {
  display: inline-block;
  font-size: .7rem;
  color: #7f8c8d;
  font-weight: 200;
}

.tweet-text {
  white-space: pre-line;
  padding-bottom: 1rem;
}



/********************

SETTINGS

********************/

@keyframes settingsAnimation {
  0% {
    transform: translate(-50%, -200%);
  }

  50% {
    transform: translate(-50%, -100%);
  }

  90% {
    transform: translate(-50%, -40%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}


.settings {
  height: 20rem;
  width: 20rem;
  background: #2c3e50;
  position: absolute;
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.3);
  animation-name: settingsAnimation;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  color: white;
}

.settings.show {
  display: flex;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: #c0392b;
  color: white;
  border: none;
  padding: .4rem;
  border-radius: 6px;
  cursor: pointer;
}

.tweet-count-input {
  width: 5rem;
  height: 3rem;
  margin: 1rem;
  font-size: 2.5rem;
  text-align: center;
}


#tweet-count-btn {
  background: white;
  color: black;
  border: none;
  padding: 1rem;
  cursor: pointer;
  transition: all 250ms;
}

#tweet-count-btn:hover {
  transform: scale(1.1);
}





@media (max-width: 900px) and (min-width: 300px) {

.key {
  display: none;
}

.tweet-columns {
  font-size: 30%;
  width: 100%;
  text-overflow: clip;
}

.tweet-text {
  text-overflow: clip;
}

}
